
<img class='profile-img' src= "<%= @profile_user.image %> ">
<h2> <%= @profile_user.name %></h2><br>

<section class='profile-questions'>
	<h3> Questions Asked</h3>

	<% @profile_user.questions.each do |question| %>
		<a href='<%= question_path(question) %>'><br><%= question.title %></a>
	<% end %>
</section>