.top-bar {
	background: #fff;
	padding: 10px;
}

.top-bar .name h1 a{
	color: black;
	font-size: 2em;
}

.top-bar-section .has-form {
	background: #fff;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #d14836;
}

.contain-to-grid {
	background: #fff;
}

.contain-to-grid .top-bar {
max-width: none;
margin: 0 auto;
margin-bottom: 0;
}

.response-feed li,
.home-feed ul li {
	list-style:none;
	border-bottom: 1px solid #DDD;
}

.right-bar {
	border: 2px solid black;
	height: 200px;
	margin-top: 5em;;
}

.main-body {
}

.username {
	font-size: 12px;
	float: right;
	padding-right: 10px;
}

.top-bar input {
	width: 15em;
}

.container {
	margin-top: 20px;
}

.inner-tab{
	margin: 1em;
	text-align: center;
}

.inner-tab a{
	margin-left: 2em;
	padding: 0px 10px 5px 10px;
	color: #555;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 5px solid #aaa;
	-webkit-transition: border-bottom 0.2s; /* For Safari 3.1 to 6.0 */
	transition: border-bottom 0.2s;
}

.inner-tab a:hover{
	color: #777;
	border-bottom: 8px solid #f90;
}

.main-inner {
	padding: 2em;
}

.response-feed li{
	padding: 10px 0px 20px 40px;
}

.question .hangout{
	border-bottom: 10px solid #ccc;
	padding-bottom: 20px;
}




