.top-bar {
	background: #fff;
	padding: 10px;
}

.top-bar img{
	height: 30px;
	padding-right: 8px;
}

.top-bar .name img{
	height: 70px;
	padding-right: 8px;
}

.top-bar .name h1 a{
	color: black;
	font-size: 2em;
}

.top-bar-section .has-form {
	background: #fff;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #d14836;
}

.top-bar-section ul {
	background: #fff;
}

.contain-to-grid {
	background: #fff;
}

.contain-to-grid .top-bar {
max-width: none;
margin: 0 auto;
margin-bottom: 0;
}

.response-feed li,
.home-feed ul li {
	list-style:none;
	border-bottom: 1px solid #DDD;
}

.right-bar {
	border: 2px solid black;
	height: 200px;
	margin-top: 5em;;
}

.main-body {
}

.username {
	font-size: 12px;
	float: right;
	padding-right: 10px;
}

.top-bar input {
	width: 15em;
}

.container {
	margin-top: 30px;
}

.inner-tab{
	margin: 1em;
	text-align: center;
}

.inner-tab a{
	margin-left: 2em;
	padding: 0px 10px 5px 10px;
	color: #555;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 5px solid #aaa;
	-webkit-transition: border-bottom 0.2s; /* For Safari 3.1 to 6.0 */
	transition: border-bottom 0.2s;
}

.inner-tab a:hover{
	color: #777;
	border-bottom: 8px solid #f90;
}

.main-inner {
	padding: 2em;
}

.response-feed li{
	padding: 10px 0px 20px 40px;
	display: -webkit-flex;
  display: flex;
}

.question .hangout{
	border-bottom: 10px solid #ccc;
	padding-bottom: 20px;
}

.reply {
	margin-top: 20px;
}

.modal-container {
	width: 40em;
	border-top: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
}

.about-info {
	width: 195px;
	float: left;
	margin: 20px 0px 0px 15px;
}

.extra-btn a {
	margin-right: 20px;
}

.top-bar .extra-btn .button {
	top: 0px;
	line-height: 33px;
}

.alert-box {
	margin-top: 30px;
}

.fixed {
	height: 85px;
}

.topbar-field {
	margin-top: 10px;
}

.tags-field {
	border: none;
}

.label.secondary{
	font-size: 12px;
}

.profile-questions a{
	line-height: 2.5em;
}

.response-feed aside {
	width: 50px;
}

.response-feed section {
	-webkit-flex: 1;
	flex: 1;
}

.response-feed section p {
	margin-bottom: 0;
}

.response-feed section h5 {
	color: salmon;
	font-weight: 600;
	line-height: 1.2;
}

.correct-ans {
	cursor: pointer;
}



